@import url('service.css');
@import url('Payinser.css');
@import url('Allpayin.css');
@import url('Allpayout.css');
@import url('payinForm.css');
@import url('Customerdetails.css');
/* Start Global Rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
*::placeholder {
  font-size: 15px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}
:root {
  --f-transition: 0.2s; 
  --main-transition: 0.3s; 
  --m-transition: 0.4s;
  --s-transition: 0.5s; 
  --header-height: 60px;
  --sections-padding: 60px;
  --main-color: hsl(206, 92%, 46%);
  --second-color: hsl(247, 74%, 63%);
  --third-color: hsl(179, 100%, 40%);
  --light-main-color: hsl(206, 92%, 50%);
  --light-second-color: hsl(247, 74%, 67%);
  --light-third-color: hsl(179, 100%, 44%);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.logo {
  width: 200px;
}
.dont_display_on_smaller_screen{
  display: none;
}
a {
  text-decoration: none;
}
a:active {
  transform: scale(0.91);
  transition: transform var(--f-transition);
}
p {
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  background-size: cover;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.scale-effect:active {
  transform: scale(0.88);
  transition: transform var(--f-transition);
}
.fill::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background: rgb(37, 37, 85);
  transition: var(--main-transition);
}
.fill:hover::after {
  width: 100%;
}
.loading-message,
.errormsg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 34px;
}

.section-title {
  width: fit-content;
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 35px;
  color: var(--main-color);
  cursor: pointer;
}
@media (max-width: 767px) {
  .section-title {
    margin-bottom: 40px;
  }
}
.btns-group {
  margin-top: 20px;
  display: flex;
  text-align: center;
  gap: 10px;
}
/* End Utility Classes */



/* Start Header */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 15px 0;
  background: #fff;
  z-index: 99;
  border-bottom: solid 2px #535353;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar .logo:active {
  transform: scale(1);
}
.nav-links {
  transition: var(--main-transition);
}
.nav-links.active {
  opacity: 1;
  visibility: visible;
  transform: translatey(0);
}
@media (max-width: 992px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translatex(100%);
    opacity: 0;
    visibility: hidden;
  }
}
.nav-links a {
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  margin-right: 25px;
  color: rgb(30, 30, 110);
  font-weight: 500;
  font-size: 26px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .nav-links a {
    margin-right: 0;
    margin-bottom: 25px;
    font-size: 20px;
  }
}
.nav-links .toggle-menu {
  position: absolute;
  top: 15px;
  right: 20px;
}
.navbar .toggle-menu {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: var(--second-color);
  font-size: 22px;
  cursor: pointer;
  display: none;
  transition: var(--main-transition);
}
@media (max-width: 992px) {
  .navbar .toggle-menu {
    display: block;
  }
}
/* End Header */

/* Start Landing Section */
.landing {
  height: 62vh;
  margin-top: 100px;
  margin-bottom: 50px;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.landing .text {
  text-align: start;
}
.landing .text .landing-span {
 position: relative;
 top:10px;
}
.login-f{
  row-gap: 0px;
}
.login-f .form-title{
  margin-bottom: 10px;
}
.login-f .form-input{
    padding: 0.7rem;
}
.login-form{
  display: block;
}

@media (max-width: 992px) {
  .landing .text {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  }
}
.landing .text .landing-h1 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  color:  hsl(206, 92%, 46%);
}
@media (max-width: 1200px) {
  .landing .text h1 {
    font-size: 36px;
  }
}
@media (max-width: 500px) {
  .landing .text h1 {
    font-size: 30px;
  }
}
.landing .text .landing-span {
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
  color: rgb(217, 76, 76);
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 20px;
}
@media (max-width: 992px) {
  .landing .text .landing-span {
    font-size: 17px;
    
  }
}
.landing .text .landing-p {
  margin-top: 14px;
  max-width: 600px;
  line-height: 1.7;
  font-size: 22px;
  font-weight: 600;
  color: rgb(26, 23, 23);
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  top: 10px;
}
@media (max-width: 992px) {
  .landing .text p {
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 992px) {
  .landing .btns-group {
    justify-content: center;
  }
}
.landing .image {
  flex: 0.85;
  z-index: -1;
}
@media (max-width: 992px) {
  .landing .image {
    display: none;
  }
}
/* End Landing Section */


@media (max-width: 992px) {
  .contact .description {
    max-width: 100%;
    font-size: 18px;
  }
}
.contact form {
  width: 70%;
  margin: 40px auto;
}
@media (max-width: 992px) {
  .contact form {
    width: 100%;
    margin: 40px auto;
  }
}
.contact form .field {
  margin-bottom: 15px;
}
.contact form label {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 4px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 4px;
  transition: var(--f-transition);
}
input[type="text"]:focus,
textarea:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}
.contact form textarea {
  resize: vertical;
  min-height: 220px;
  font-family: inherit;
}
.contact form input[type="submit"] {
  border: none;
  width: fit-content;
  max-width: 400px;
  cursor: pointer;
  margin-top: 5px;
}
/* End contact */

/* Start Footer */
.mainpage{
  display: flex;
    flex-direction: column;
    min-height: 71vh;
}
footer {
  background: #1a1919;
  height: auto;
  font-family: 'Open Sans';
  padding-top: 10px;
  color: var(--primary-white);
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  display: flex;
  align-items: center;
}
.footer-content h3 img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0 1rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #0e0d0d;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 0;
}
.footer-bottom p {
  font-size: 18px;
  word-spacing: 2px;
  text-transform: capitalize;
  line-height: 20px;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-bottom ul {
  margin: 0;
}
.footer-bottom a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 20px;
}
/* End Footer */
@media (max-width: 1400px) {

  .landing, .navbar ,footer{
    display: none;
  }
  
  .dont_display_on_smaller_screen{
    display: flex !important;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100vw;
    z-index: -1000;
    flex-wrap: wrap;
    color: rgb(30, 172, 228);
}
}