.customer-table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.customer-table td {
  padding: 10px;
  border: 2px solid #8e8d8d;
}

.customer-table .key {
  font-weight: bold;
  text-transform: uppercase;
}

.loading,
.no-data {
  margin: 16px;
  font-weight: bold;
}
